<section class="section is-medium">
  <div class="container">
    <div class="columns">
      <div class="column is-centered-tablet-portrait">
        <h1 class="title section-title">{{ .Title }}</h1>
        <h5 class="subtitle is-5 is-muted">{{ .Params.Subtitle }}</h5>
        <div class="divider"></div>
      </div>
    </div>
  </div>
</section>
{{ if .Params.image }}
<div class="image">
  <img src="{{ .Params.Image }}" alt="{{ .Title }}">
</div>
{{ end }}

{{ if .Params.aws_training }}
  {{ partial "biz/aws/section1.html" . }}
  {{ partial "biz/aws/section2.html" . }}
  {{ partial "biz/aws/section3.html" . }}
  {{ partial "biz/aws/section4.html" . }}
  {{ partial "biz/aws/section5.html" . }}
  {{ partial "biz/aws/section6.html" . }}
  {{ partial "biz/aws/contact.html" . }}
  {{ .Content }}
{{ else if .Params.met_apps }}
  {{ partial "met-apps/section4.html" . }}
  {{ partial "met-apps/section2.html" . }}
  {{ partial "met-apps/section2.html" . }}
  {{ partial "met-apps/contact.html" . }}
{{ else }}
  {{ .Content }}
{{ end }}
