{{ $section := .Site.Params.pmCoaching.section7 }}
{{ $section4 := .Site.Params.awsTraining.section5 }}
{{ $books    := index $section4 "books" }}
{{ $works    := index $section4 "works" }}

<section class="section section-primary">
  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2 is-spaced has-text-white">{{ $section.title }}</h2>
      <h3 class="subtitle is-5">{{ $section.subtitle }}</h3>
      <div class="divider is-centered"></div>
    </div>
    <div class="content-wrapper">
      <div class="columns">
        <div class="column is-8 is-offset-2">
          <div class="card">
            <div class="card-image">
              <figure class="image content is-128x128" style="margin: auto; padding: 10px;">
                <img class="is-rounded" src="/images/team/fukami.png" alt="講師 深海寛信"/>
              </figure>
            </div>
            <div class="card-content">
              <div class="content has-text-centered">
                <div class="title is-3">
                  {{ $section.name }}<br>
                  <span class="title is-5">{{ $section.nameEng }}</span>
                </div>
              </div>
              <div class="content has-text-centered">
                <div class="is-size5 is-primary has-text-weight-bold">
                  {{ $section.position }}
                </div>
              </div>
            </div>
            <div class="card-content">
              <div class="content">
                {{ $section.description | safeHTML }}
              </div>
              <div class="content">
                <div class="has-text-weight-bold">著書</div>
                <ul>
                  {{ range $books }}
                    <li style="list-style: none;">{{ .title }}</li>
                  {{ end }}
                </ul>
                <div class="has-text-weight-bold">研修実績</div>
                <ul>
                  {{ range $works }}
                    <li style="list-style: none;">{{ .title }}</li>
                  {{ end }}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
