{{- $section := .Site.Params.futsalMet.section3 }}
{{- $contents := index $section "contents" }}

{{- $section5 := .Site.Params.futsalMet.section5 }}
{{- $title5    := index $section5 "title" }}
{{- $subtitle5    := index $section5 "subtitle" }}
{{- $contents5    := index $section5 "contents" }}

<section class="section section-light-grey">
    <div class="title-wrapper has-text-centered">
        <h2 class="title is-2 is-spaced">機能</h2>
        <h3 class="subtitle is-5">広告なしでシンプルにサクサク使える</h3>
        <div class="divider is-centered"></div>
    </div>

    <div class="content-wrapper">
        <div class="columns is-multiline">
            {{- range $contents }}
            {{ if .reverse }}
            <div class="column is-half">
                <div style="text-align: center;">
                    <img src={{ .image }}
                         style="max-width: 300px;"
                         alt={{ .imageAlt }}
                    >
                </div>
            </div>
            <div class="column is-half" style="text-align: left;">
                <div class="content-wrapper">
                    <h1 class="is-primary title is-2">{{ .title }}</h1>
                    <h1 class="is-secondary subtitle is-5">{{ .subtitle }}</h1>
                    <p class="is-6">{{ .description }}</p>
                </div>
            </div>
            {{- else }}
            <div class="column is-half" style="text-align: right;">
                <div class="content-wrapper">
                    <h1 class="is-primary title is-2">{{ .title }}</h1>
                    <h1 class="is-secondary subtitle is-5">{{ .subtitle }}</h1>
                    <p class="is-6">{{ .description }}</p>
                </div>
            </div>
            <div class="column is-half">
                <div style="text-align: center;">
                    <img src={{ .image }}
                         style="max-width: 300px;"
                         alt={{ .imageAlt }}
                    >
                </div>
            </div>
            {{- end }}
            {{- end }}

            <div class="column">
                <div style="text-align: center;">
                    {{- range $contents5 }}
                    <img src={{ .image }}
                         style="max-width: 200px; margin: -30px;"
                         alt={{ .imageAlt }}
                    >
                    {{- end }}
                </div>
            </div>
            <div class="column" style="text-align: left;">
                <div class="content-wrapper">
                    <h1 class="title is-2">{{ $title5 }}</h1>
                    <h1 class="is-primary subtitle is-5">{{ $subtitle5 | safeHTML }}</h1>
                </div>
            </div>
        </div>
    </div>
</section>
