{{- $section := .Site.Params.futsalMet.section6 }}
{{- $title    := index $section "title" }}
{{- $subtitle    := index $section "subtitle" }}
{{- $paidPlan    := index $section "paidPlan" }}

<section class="section section-feature-grey">
    <div class="title-wrapper has-text-centered">
        <h2 class="title is-2 is-spaced">{{- $title }}</h2>
        <h3 class="subtitle is-5">{{- $subtitle | safeHTML }}</h3>
        <div class="divider is-centered"></div>
    </div>

    <div class="content-wrapper">
        <div class="content" style="text-align: center;">
            {{- range $paidPlan }}
            <img src={{ .image }}
                 style="max-width: 500px;"
                 alt={{ .imageAlt }}
            >
            {{- end}}
        </div>
    </div>

</section>
