{{- $apps    := index .Site.Params.metApps.apps }}

<section class="section section-primary">
    <div class="title-wrapper has-text-centered">
        <h2 class="title is-2 light-text is-spaced">好きなスポーツがもっと楽しくなります</h2>
        <div class="divider is-centered"></div>
    </div>

{{- range $apps }}
    <div class="container mt-100"  id="{{ .name }}">
        <div class="columns">
            <div class="column is-half">
                <div style="text-align: center;">
                    <img style="border: solid 5px white; border-radius: 30px; width: 180px;"
                         src="{{ .image.icon }}"
                         alt="{{ .appName }}"
                    >
                </div>
            </div>
            <div class="column is-half" style="margin-left: 0px; margin-top: 10px;">
                <h1 class="light-text title is-2">{{ .appName }}</h1>
                <h1 class="light-text subtitle is-4">{{ .category }}SNSアプリ</h1>
                <a href="{{- .iosLink }}">
                    <img src="/images/apps/App_Store_Badge.svg"
                         style="height: 50px; vertical-align: top; margin-top: 11px;"
                         alt="Download on the App Store"
                    >
                </a>
                <a href="{{- .androidLink }}">
                    <img src="/images/apps/google-play-badge.png"
                         style="height: 72px; vertical-align: top;"
                         alt="GET IT ON Google Play"
                    >
                </a>
            </div>
        </div>
    </div>
{{- end }}

</section>
