<section class="section section-feature-grey">
    <div class="title-wrapper has-text-centered">
        <h2 class="title is-2 is-spaced">有料プラン</h2>
        <h3 class="subtitle is-5">より便利に楽しく使うための機能があります<br>アプリ内課金にて提供中</h3>
        <div class="divider is-centered"></div>
    </div>

    <div class="content-wrapper">
        <div class="content image">
            <img src="/images/apps/metapps/screenshots/subscription_standard_plan.png"
                 style="max-width: 500px; margin: auto;"
                 alt="有料プラン メニュー"
            >
        </div>
    </div>
</section>
