{{- $section := .Site.Params.footballMet.section4 }}
{{- $contents    := index $section "contents" }}

<section class="section section-light-grey">
    <div class="title-wrapper has-text-centered">
        <h2 class="title is-2 is-spaced">こんなことありませんか？</h2>
        <div class="divider is-centered"></div>
    </div>
    <div class="content-wrapper">
        <div class="columns is-multiline">
            {{- range $contents }}
            <div class="column is-half">
                <div class="card has-text-centered"
                     style="border: 5px solid green; border-radius: 40px; padding: 10px;">
                    <div class="card-content">
                        <article class="media icon-box">
                            <figure class="media-left">
                                <h1 class="icon is-large"
                                    style="color: {{ .color }}; margin: 15px;">
                                    <i class="{{ .icon }} fa-2x" style="font-size: 4em;"></i>
                                </h1>
                            </figure>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <span class="icon-box-title">{{ .title }}</span>
                                        <span class="icon-box-text">{{ .subtitle }}</span>
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
            {{- end }}
        </div>
    </div>
</section>
