<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js" defer></script>
<script src="https://unpkg.com/feather-icons@4.29.2/dist/feather.min.js" defer></script>
<script src="{{ "js/fresh.js" | relURL }}" defer></script>
<script src="{{ "js/jquery.panelslider.min.js" | relURL }}" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" defer></script>
{{ if .Site.Params.googleRecaptchaKey }}
<script src="//www.google.com/recaptcha/api.js" async defer></script>
{{ end }}
