{{- $section7   := .Site.Params.section7 }}
{{- $title      := index $section7 "title" }}
<section class="section section-feature-grey is-medium">
  <div class="container">
    <div class="title-wrapper has-text-centered mb-40">
      <h2 class="title is-2">{{ $title }}</h2>
      <div class="divider is-centered"></div>
    </div>

    <div class="columns">
      <div class="column is-8 is-offset-2">
        <div class="has-text-left">
          <div class="media">
            <div class="media-left">
              <div class="title">2024</div>
            </div>
            <div class="media-content">
              <div class="content">
                スポーツ愛好者向けSNSアプリ「メットシリーズ（Met Apps）」4種をリリース
              </div>
            </div>
          </div>
          <div class="media">
            <div class="media-left">
              <div class="title">2023</div>
            </div>
            <div class="media-content">
              <div class="content">スポーツからあらゆる分野の個人を対象にサービスを拡大。「P1st」へサービス名変更、ロゴを変更</div>
            </div>
          </div>
          <div class="media">
            <div class="media-left">
              <div class="title">2022</div>
            </div>
            <div class="media-content">
              <div class="content">スポーツ支援とビジネスの拡大を両立する「プレイヤーズパートナー」開始</div>
            </div>
          </div>
          <div class="media">
            <div class="media-left">
              <div class="title">2021</div>
            </div>
            <div class="media-content">
              <div class="content">買物金額の一部が支援金として支払われる「買い物で応援」リリース</div>
              <div class="content">飲食店向けメッセージ付き投げ銭アプリ「コインパス」ローンチ</div>
            </div>
          </div>
          <div class="media">
            <div class="media-left">
              <div class="title">2020</div>
            </div>
            <div class="media-content">
              <div class="content">フットサルで人を集めたい人と参加したい人をつなぐアプリ「フットサルメット」ローンチ</div>
              <div class="content">クラブチームアカウント登録開始</div>
            </div>
          </div>
          <div class="media">
            <div class="media-left">
              <div class="title">2019</div>
            </div>
            <div class="media-content">
              <div class="content">新型コロナウイルス対策で活動が停止している選手支援のために手数料無料キャンペーンを実施</div>
              <div class="content">支払方法の追加 ApplePay に対応</div>
            </div>
          </div>
          <div class="media">
            <div class="media-left">
              <div class="title">2018</div>
            </div>
            <div class="media-content">
              <div class="content">スポンサー限定ポスト リリース</div>
              <div class="content">売上金受け取り方法にAmazonギフト券を追加</div>
            </div>
          </div>
          <div class="media">
            <div class="media-left">
              <div class="title">2017</div>
            </div>
            <div class="media-content">
              <div class="content">選手のメディア掲載情報を自動検索する「PRパス」リリース</div>
              <div class="content">
                フットサル最高峰リーグ Fリーグ参戦チーム ペスカドーラ町田から選手個人スポンサー制度を Players1st へ移管
              </div>
              <div class="content">リオオリンピック出場選手 利用開始</div>
            </div>
          </div>
          <div class="media">
            <div class="media-left">
              <div class="title">2016</div>
            </div>
            <div class="media-content">
              <div class="content">月額スポンサー募集機能 リリース</div>
              <div class="content">300円からできるメッセージ付き投げ銭機能「コインパス」リリース</div>
              <div class="content">現役スポーツ選手のための支援サイト Players1st ローンチ</div>
              <div class="content">事前選手登録受付開始</div>
              <div class="content">株式会社プレイヤーズファースト 設立</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
