{{- $section1 := .Site.Params.section1 }}
{{- $title    := index $section1 "title" }}
{{- $subtitle := index $section1 "subtitle" }}
{{- $tiles    := index $section1 "tiles" }}
{{- $tiles2    := index $section1 "tiles2" }}
{{- $tiles3    := index $section1 "tiles3" }}
{{- $tilesTitle1    := index $section1 "tilesTitle1" }}
{{- $tilesTitle2    := index $section1 "tilesTitle2" }}
{{- $tilesTitle3    := index $section1 "tilesTitle3" }}
<section id="services" class="section section-feature-grey is-medium">
  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2">{{ $title }}</h2>
      <div class="divider is-centered"></div>
    </div>

    <div class="content-wrapper">
      {{ if $tiles }}
      <h2 class="subtitle is-4 has-text-centered">{{ $tilesTitle1 }}</h2>
      <div class="columns is-multiline">
        {{- range $tiles }}
        <div class="column is-one-third">
          <div class="feature-card is-bordered has-text-centered revealOnScroll delay-1" data-animation="fadeInLeft">
            <div class="card-title">
              <h4>{{ .title }}</h4>
            </div>
            <div class="card-subtitle">
              <h4>{{ .subtitle }}</h4>
            </div>
            <div class="card-icon">
              <img src="{{ printf "/images/logos/%s.png" .icon | relURL }}">
            </div>
            <div class="card-text">
                <p>{{ .text }}</p>
            </div>
            <div class="card-action">
              <a href="{{ .url }}" class="button btn-align-md accent-btn raised">{{ .buttonText }}</a>
            </div>
          </div>
        </div>
        {{- end }}
      </div>
      {{ end }}

      {{ if $tiles2 }}
      <h2 class="subtitle is-4 has-text-centered">{{ $tilesTitle2 }}</h2>
      <div class="columns is-multiline">
        {{- range $tiles2 }}
        <div class="column is-half">
          <div class="feature-card is-bordered has-text-centered revealOnScroll delay-1" data-animation="fadeInLeft">
            <div class="card-title">
              <h4>{{ .title }}</h4>
            </div>
            <div class="card-subtitle">
              <h4>{{ .subtitle }}</h4>
            </div>
            <div class="card-icon">
              {{ if .icon }}
              <img src="{{ printf "/images/biz/%s.png" .icon | relURL }}">
              {{- end }}
            </div>
            <div class="card-text">
                <p>{{ .text }}</p>
            </div>
            <div class="card-action">
              {{ if .url }}
              <a href="{{ .url }}" class="button btn-align-md accent-btn raised">{{ .buttonText }}</a>
              {{- end }}
            </div>
          </div>
        </div>
        {{- end }}
      </div>
      {{ end }}

      {{ if $tiles3 }}
      <h2 class="subtitle is-4 has-text-centered">{{ $tilesTitle3 }}</h2>
      <div class="columns is-multiline">
        {{- range $tiles3 }}
        <div class="column is-half is-offset-one-quarter">
          <div class="feature-card is-bordered has-text-centered revealOnScroll delay-1" data-animation="fadeInLeft">
            <div class="card-title">
              <h4>{{ .title }}</h4>
            </div>
            <div class="card-subtitle">
              <h4>{{ .subtitle }}</h4>
            </div>
            <div class="card-icon">
              <img src="{{ printf "/images/biz/%s.png" .icon | relURL }}">
            </div>
            <div class="card-text">
                <p>{{ .text }}</p>
            </div>
            <div class="card-action">
              <a href="{{ .url }}" class="button btn-align-md accent-btn raised">{{ .buttonText }}</a>
            </div>
          </div>
        </div>
        {{- end }}
      </div>
      {{ end }}
    </div>
  </div>
</section>


<section class="section is-medium">
    <div class="container">
      <div class="title-wrapper has-text-centered mb-40">
        <a href="/blog">
          <h2 class="title is-2">Blog</h2>
        </a>
        <div class="divider is-centered" style="margin-bottom: 10px;"></div>
        <h5 class="subtitle is-5">ITプロダクト開発で失敗しないためのノウハウを公開</h5>
      </div>

    <div class="columns">
      <div class="column is-8 is-offset-2">
        <div class="has-text-left">      
          <ul style="list-style:none;">
            <li><a href="/blog/20260306_pm_white_paper_digest/">【実録】大企業の新規事業が「動くモノ」が出る前に失速する3つの理由</a></li>
            <li><a href="/blog/20260224_why_pm_coaching/">私がPMコーチングを始めた理由</a></li>
            <li><a href="/blog/20260220_requirement_fail/">なぜ「要件定義」が崩壊の始まりになるのか</a></li>
            <li><a href="/blog/20260218_good_pm/">良いPMと悪いPMの決定的な違い</a></li>
            <li><a href="/blog/20260216_three_signs/">炎上プロジェクトに共通する3つの初期サイン</a></li>
            <li><a href="/blog/20260212_pm_coaching/">技術がわからないPMが、判断できなくなる本当の理由</a></li>
          </ul>
        </div>
      </div>
    </div>

</section>

